HELP.md
.gradle
.DS_Store
build/
!gradle/libs.versions.toml
gradle/
gradlew
gradlew.bat
logs/
pid
bin/
temp/
tmp/
maven_cert.properties
local.properties
*.local.*
*-local.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

